<header>
  <h2>Index View Content</h2>
</header>
<section>
  <p>This is only a basic template for Index VIew, it only displays this text by now, but will be rendering some sort of awesome views later</p>
</section>
